
/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Estilo dos cards de produtos */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Imagem do produto */
.card img {
    max-width: 100%;
    border-radius: 8px;
}

/* Título do produto */
.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

/* Preço do produto */
.card p.price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
}



/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}

/* Grid para os cards */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilo do carrinho.php */
.cart {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cart h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item .item-name {
    font-weight: bold;
}

.cart-item .item-price {
    color: #28a745;
}

.cart-total {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}
/* Estilo do botão de remover */
.btn-remove {
    background-color: #dc3545; /* Vermelho */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.btn-remove:hover {
    background-color: #c82333; /* Vermelho escuro */
}


/* Estilo para o botão Comprar */
.btn-buy {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4CAF50; /* Verde */
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.btn-buy:hover {
    background-color: #45a049; /* Tom mais escuro de verde */
}

.cart-actions {
    text-align: right;
}


