
/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EAF2EF;
}

/* Container principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
}

/* Estilo dos cards de produtos */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Imagem do produto */
.card img {
    max-width: 100%;
    border-radius: 8px;
}

/* Título do produto */
.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

/* Preço do produto */
.card p.price {
    font-size: 16px;
    color: #28a745;
    font-weight: bold;
}


/* Estilo do rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 20px;
}

/* Grid para os cards */
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

