/* Carrossel */
.carousel {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.carousel-inner {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

/* Botões do carrossel */
.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 2;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 8px;
}

/* Indicadores */
.indicators {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #fff;
}

/* Grade de Produtos */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid gainsboro;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.product-card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.product-card .price {
    color: #333;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-cart {
    background-color: #2F3144;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.btn-cart:hover {
    background-color: #2395EE;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.categoria-title {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #2F3144;
}

/* Estilos para a navegação */
.cnav ul {
    list-style-type: none; 
    padding: 0;
    display: flex; 
    justify-content: center; 
    background-color: #2F3144; 
    margin: 0;
    gap: 20px; 
}

.cnav ul li {
    padding: 10px 20px; 
}

.cnav ul li a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    padding: 5px 15px; 
    border-radius: 5px; 
    display: block; 
}


.cnav ul li a:hover {
    background-color: #2395EE; 
}