/* Estilos básicos para a Navbar */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#2395ee; 
  padding: 15px 20px;
}

.navbar .logo img {
  max-height: 150px; /* Aumenta o tamanho do logo */
}

.navbar .logo img:hover {
  transform: scale(1.1); /* Aumenta o tamanho do logo ao passar o mouse */
  transition: transform 0.3s ease;
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}


/* From Uiverse.io by nikk7007 */ 
.navbar button {
  padding: 0.8em 1.8em;
  border: 2px solid #2f3144;
  position: relative;
  overflow: hidden;
  background-color: #2f3144;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: white;
 }
 
 .navbar button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #eaf2ef;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .navbar button:hover::before {
  width: 105%;
 }
 
 .navbar button:hover {
  color: #111;
  cursor: pointer;
 }


 